{% extends "devman/skeleton.html" %}

{% block page_content %}

<div class="col-sm-4">
  <h2> Relays List </h2>
  <br />
  {% for dev in ldevs %}
    {% include "devman/device_card.html" with dev=dev %}
    <br />
  {% endfor %}
</div>

<div class="col-sm-4">
  <h2> ... </h2>
  <br />
  {% for dev in mdevs %}
    {% include "devman/device_card.html" with dev=dev %}
    <br />
  {% endfor %}
</div>

<div class="col-sm-4">
  <h2> ... </h2>
  <br />
  {% for dev in rdevs %}
    {% include "devman/device_card.html" with dev=dev %}
    <br />
  {% endfor %}
</div>

{% endblock %}
